* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header p {
margin-bottom: 20px;
font-weight: bold;
}

header a {
  padding: 12px 30px;
  background-color: white;
  text-decoration: none;
  border-radius: 25px;
  color: #d04894;
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: white;
  border-radius: 25px;
  font-weight: bold;
}

header {
  background-image: linear-gradient(to right, #ff69b4, #d04894);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

header h1 {
  color: white;
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: bold;
  animation: bounce 2s infinite;
}

.btn:hover{
  background-color: #f8c8dc;
}

body {
  text-align: center;
}

body h2 {
  margin-top: 40px;
}

.search-section {
  padding: 8px 12px;
}

.search-form input, select, button {
  margin: 6px;
  padding: 8px 12px;
  border-radius: 8px;
}

.search-form input {
  width: 192px;
}

.search-form select {
  font-weight: bold;
}

.search-form button {
  background-color: #d04894;
  color: white;
  border: none;
}

.features {
  margin-top: 80px;
justify-content: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex: wrap;
  gap: 25px;
}

.feature-box {
  width: 240px;
  background-color: #FCF1F5;
  padding: 30px 12px;
  margin-bottom: 20px;
}

.feature-box i, h3, p {
  margin: 12px;
}

i .fas fa-magic {
  width: 200px;
}

i {
  font-size: 48px;
  color: #d04894;
}

.cta {
  background-color: #f8c8dc;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cta .btn {
  color: #d04894;
  font-weight: bold;
}

footer {
  margin-top: 0;
  background-color: #d04894;
  height: 40px;
  color: white;
  padding: 0px;
}

footer p {
  margin-top: 0;
}